/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Styling begins below */

html{
	height: 100%;
}

body{
	height: 100%;
}

#root{
	margin: 0;
}

.App{
	margin: 0;
	display: flex;
	flex-direction: column;
	background-color: blue;
}

.header{
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	background-image: url('/public/restaurant.png');
}

.nav ul li{
	display: inline-block;
	text-align: center;
	text-decoration: none;
	padding: 3px;
	border-style: solid;
	border-color: green;
	border-width: 2px;
	font-size: 30px;
	color: white;
}

.phoneHours{
	align-self: flex-start;
	height: 70px;
	width: 200px;
	border-style: solid;
	border-color: coral;
	border-width: 2px;
	color: white;
	margin-left: -8%;
}

.social-media{
	margin-right: inherit;
}

.sm-icon{
	transform: scale(.2);
	border-style: solid;
	border-style: solid;
	border-color: blue;
	border-width: 2px;
}

.smLink{
	display: inline-block;
	height: 15px;
	width: 30px;
}

.mainImage{

}

.reservation{

}

.reservationForm{
	display: flex;
}

.about{

}

.contact{

}

.contactBox{

}

.mapBox{

}

.hoursBox{

}

.next{
	height: 20px;
	width: 20px;
	border-style: solid;
	border-style: solid;
	border-color: blue;
	border-width: 2px;
}

.tableReservation{
	display: flex;
	flex-wrap: wrap;
	height: 400px;
	width: 400px;
	border-style: solid;
	border-style: solid;
	border-color: blue;
	border-width: 2px;
}

.table{
	height: 19px;
	width: 19px;
	border-style: solid;
	border-style: solid;
	border-color: blue;
	border-width: 2px;
}

.searchByEmail{

}

.listedReservations{

}

.menu{

}

.footer{

}
