/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Styling begins below */
body{
	margin: 0 auto;
	background-image: url('./images/testImageThree.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.App{
	display: flex;
	flex-direction: column;
}

.header{
	/*background-color: red;*/
	/*display: flex;*/
	/*align-items: flex-start;*/
	top: 0;
	width: 100%;
	/*opacity: .3*/
}

.nav {
	margin-top: 100px;
  margin-left: 440px;

}

.nav ul li{
	display: inline-block;
	padding: 3px;
	border-style: ridge;
	border-color: HEX E88C00;
	border-width: 2px;
	border-radius: 4.5px;
	margin:1.5px;
	color: white;
	/*box-shadow: 1px 1px 8px white;*/
}

.logo{
	position:relative;
	margin-top: 40px;
	margin-left: -200px;
	color: beige;
	font-family: 'Great Vibes', cursive;
	margin-left: 400px;
	font-size: 75px;
}

span{
	font-size: 30px;
}

.phoneHours{
	line-height: .9;
	height: 0px;
	width: 200px;
	border-style: solid;
	color:white;
}


.sm-icon{
	margin-bottom: 200px;
	margin-left: 980px;
	transform: scale(.2);
	border-style: solid;
	border-style: solid;
	outline: none;
	border-width: 2px;
}

.smLink{
	display: inline-block;
	height: 15px;
	width: 30px;
}

.reservation{

}

.reservationForm{
	display: flex;
}

.about{
	width: 500px;
	margin: 0 auto;
	background-color: rgba(119, 119, 119, 0.35);
	border: 5px solid black;
}

.about-header {
	font-family: 'Oswald', sans-serif;
	font-size: 36px;
	color: white;
	padding-bottom: 50px;
}

.about-descr {
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
	color: white;
	line-height: 50px
}

.contact{

}

.contactBox{
	background-color: rgba(119, 119, 119, 0.35);
	margin: 0 auto;
	margin-left: 250px;
	margin-top: 150px;
	float: left;
	border: 5px solid black;
}
.contact-header {
	font-family: 'Oswald', sans-serif;
	color: white;
	font-size: 36px;
	padding-left: 10px;
}

.contact-info {
	font-family: 'Oswald', sans-serif;
	color: white;
	font-size: 22px;
	padding: 10px;
}

.hoursBox{
	background-color: rgba(119, 119, 119, 0.35);
	margin: 0 auto;
	margin-left: 150px;
	margin-top: 150px;
	float: right;
	border: 5px solid black;
	padding-right: 25px;
}

.hours-header {
	font-family: 'Oswald', sans-serif;
	color: white;
	font-size: 36px;
	padding-left: 10px;
}

.hours {
	font-family: 'Oswald', sans-serif;
	color: white;
	font-size: 22px;
	padding: 10px;
}

.next{
	height: 20px;
	width: 20px;
	border-style: solid;
	border-style: solid;
	border-color: blue;
	border-width: 2px;
}

.reserveBut{
	position: absolute;
}

.tableReservationDiv{
	display: flex;
	flex-wrap: wrap;
	height: 700px;
	width: 600px;
	border-style: solid;
	border-style: solid;
	border-width: 2px;
	margin: auto;
	box-shadow: 1px 1px 8px white;
	justify-content: center;
	align-items: center;
}

.tableReservation{
	display: flex;
	flex-wrap: wrap;
	height: 700px;
	width: 600px;
	border-style: solid;
	border-width: 2px;
	justify-content: center;
	align-items: center;
}

.table{
	height: 19px;
	width: 19px;
	border-style: solid;
	border-style: solid;
	border-color: blue;
	border-width: 2px;
}

.tablefor2 {
	background-image:
}

.searchByEmail{

}

.listedReservations{

}

.menu{

}

.tablesBoxBg{
	display: flex;
	margin-left: 0 auto;
	flex-wrap: wrap;
	background-color: black;
	overflow: auto;
}

label > input{ /* HIDE RADIO */
  display:none;
}

label > input + img { /* IMAGE STYLES */
  cursor: pointer;
  border: 2px solid transparent;
	transform: scale(0.2);
	margin: -62px -16px -100px -10px;
	transition: 0.3s;
}

label > input:hover + img { /* IMAGE STYLES */
  cursor: pointer;
  border: 2px solid transparent;
	transform: scale(0.3);
}

label > input:disabled + img { /* IMAGE STYLES */
  cursor: default;
  border: 2px solid transparent;
	opacity: 0.3;
  filter: alpha(opacity=40);
	transform: scale(0.2);
}

label > input:checked + img{ /* (CHECKED) IMAGE STYLES */
  border: 7px solid green;
}

.imgFor2{
	content: url('./components/public/tablefor2.png');
}

.imgFor4{
	content: url('./components/public/tablefor4.png');
}

.imgFor8{
	content: url('./components/public/tablefor8.png');
}

.footer{
	color: white;
	margin-top: 325px;
	margin-left: 550px;
}
